@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

#home-bg {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(220, 117, 0, 0.623)
    ),
    url(/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
