@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-bg-color: #dc7700;
}

* {
  font-family: "Montserrat", sans-serif;
}

@keyframes colorFadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--theme-bg-color);
  }
}
@keyframes colorFadeOut {
  from {
    background-color: var(--theme-bg-color);
  }
  to {
    background-color: transparent;
  }
}

#parallax {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(220, 117, 0, 0.623)
    ),
    url(/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
