@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

#home-bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), #dc75008a),
    url(/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
